/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small customizations */
html, body, #root { height: 100%; }
body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}